@charset "utf-8";
/* CSS Document */

body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}

.form_general{
background-color: rgb(96,100,100);
box-shadow: 3px 10px 10px rgb(0,0,0);
width: 600px;
height: 600px;
position: absolute;
border-radius: 20px 20px;
display: flex;
justify-content: center;
align-items:center;
}


.text_legend{
	color:#8E36D6;
	margin: -10px;
	text-align:center;
	font-size: 25px;
	margin-bottom: 5px;
}


.form_general .form_contenido {	
background-color: white;
width: 550px;
height: 550px;
border-radius: 20px;

	
}


.form_general .form_contenido .fieldset-style{
border-style: none;

	
	
}


.form_general .fieldset-style .input-text{
	border-radius: 10px;
	padding: 5px;
	background-color: #C6CBCB;
	border-style: none 0px transparent;
	resize:none;
}


.form_general .fieldset-style .textarea-comment{
	border-radius: 10px;
	padding: 5px;
	background-color: #C6CBCB;
	resize: none;
	
}

.form_general .button-enviar{
position: relative;
bottom: -90px;
right: -440px;
background-color: black;
color: white;
border-radius: 10px;
width: 80px;
height: 30px;
}

.fieldset-style{
	color: black;
	margin: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	
}

.form_general .sticker-carita{	
position: relative;
bottom: -18px;
right: -480px
}

.form_general .form_contenido .fieldset-style .label-input
{
	color: #606363;
	text-align: justify;
	padding: 5px;
}


.form_general .button-enviar:hover
{
	background-color: white;
	color: black;
	
}
